<%- include("header"); -%>

    <div class="box" id="heading">
        <h1><%= currentTitle %></h1>
    </div>

    <div class="box">
        <% for(let value of newListItems){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="ItemToBeDeleted" value="<%= value._id %>" onChange="this.form.submit()">
                    <p> <%= value.name %></p>
                </div>
                <input type="hidden" name="listName" value=<%= currentTitle %>>
            </form>
        <%}%>
    
        <form class="item" action="/" method="post">
            <input placeholder="New Item" autocomplete="off" type="text" name="newItem">
            <button type="submit" name="list" value=<%= currentTitle %>>+</button>
        </form>

    </div>
    
<%- include("footer"); -%>
